@charset "UTF-8";
/* CSS Document */

#home, #show-reel {
	background-color: #f8e514;
}

#home{
	max-height: 898px;
	background: url("http://i.imgur.com/G4zOcCO.jpg") no-repeat center;
  	background-height: 100%;
  	min-height:800px;
	background-size: 100%;
	background-color:#2BC15D;
}

body{
	max-width:1600px;
	margin:0;
	padding:0;
	font-family: 'Open Sans', sans-serif;
	background-color:#DA36D0;
}

*, *:before, *:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	background-color:#A119DB;
}

h1, h2, nav, header, ul, li {
	margin:0;
	padding:0;
}

.text-center{
	text-align:center;
	max-width: 970px;
	background-color:#58A5E8;
	font-size: 12px;
}

p, li {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
}

.wrapper{
	max-width: 1170px;
	margin: 0 auto;
}

#home .wrapper {
  position: relative;
  min-height:780px;
}

header{
	background-color:#FFFFFF;
	position:fixed;
	overflow:auto;
	top:30px;
	width:100%;
	max-width:1170x;
	margin: 0 auto;
	z-index:1;
}

nav li{
	float:left;
	display: inline;
	list-style-type:none;
	padding:0;
}

nav a{
	display:block;
	width: 50px;
	padding-right: 82px;
}

.umbrella-logo{
	float:left;
}

nav{
	width:50%;
	float: right;
}

.home-image{
	position:absolute;
	bottom: 0;
	right:0;
	z-index: 0:
}

a{ list-style-type:none;
}

.intro{
	float:left;
	width:45%;
	margin-top:350px;
}

h1, h2, h3, h4, h5, h6, p, ul, li {
	font-family: 'Open Sans', sans-serif;
}

.column-features img{
	width:100%;
}

.column-features {
	width: 33%;
	float: left;	
	padding-right: 30px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.feature-details {
  padding:20px;
  overflow:auto;
  cursor:default;
}

.feature-details p {
	font-size: 8px;
}

.feature-details:hover{
	background: #fefce9; 
	width:100%;
	display:block;
}

.feature-details span {
  float:left;
  font-size:30px;
  line-height:30px;
  width:15%;
  margin-top:0;
}

.feature-content {
  width:85%;
  float:left;
}

.column-gallery{
	width:20%;
	float: left;
	padding-right: 25px;
	
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	
	padding-right:25px;
}

#gallery{
	clear:both;
	overflow:auto;
}

.about-picture{
	width: 20%;
	float: left;
}

#about, #gallery {
	background-color:#FAFAFA;
}

#blockquote{
	clear: both;
	max-width: 970px;
	text-align:center
}

#featuredin{
	clear:both;
	overflow:auto;
	background-color:#F8E514;
	padding: 55px 115px 55px 115px;
	text-align: center;
}

.column-featured-in{
	width: 20%;
	float: left;
	padding: 175px 115px 200px 115px;
}

#contact {
	clear: both;
}

.phone{
	float:right;
}

footer {
	font-size: x-small;
	clear: both;
	border-top:#F8E514;
}

.column-footer {
	float: left;
	color: #878787;
	width: 20%;
	padding: 0 15px 0 15px;
}

.column-footer p, .column-footer ul {
	text-align: left;
}

.explore-links{
	float: left;
	max-height: 30px;
	width: 45%;
	line-height: 25px;
}



	
	