@charset "UTF-8";
/* CSS Document */

#home, #show-reel {
	background-color: #f8e514;
}

*, *:before, *:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body, h1, h2, nav, header, ul, li {
	margin:0;
	padding:0;
}

.wrapper{
	max width: 1170px;
	margin: 0 auto;
}

nav ul{
	list-style-type:none; 
	float:right;
}

a{
	text-decoration: none;
}

.column-features, .column-gallery {
	width: 33%;
	float: left;	
	padding-right: 30px;
}

#gallery{
	clear:both;
	background-color:#fafafa;
	overflow:auto;
}

.column-features img{
	width:100%;
}

.about-picture{
	width: 20%;
	float: left;
}

#about, #featuredin{
	background-color:#f8e514;
	overflow:auto;
}

#blockquote{
	clear: both;
}

#featuredin{
	clear:both;
	overflow:auto;
}

.column-featured-in{
	width: 20%;
	float: left;
}

.column-footer {
	width: 25%;
	float: left;
}



	
	